#zenntai {
	position: relative;
	width: 560px;
	height: 720px;
	border: solid 5px #9a9a9a;
	margin: 0 auto;
	background: #ffff67;
}

h1 {
	text-align: center;
	font-size: 22px;
	color: #d00f08;
}

#pgu- {
	position: absolute;
	top: 670px;
	left: 75px;
	font-size: 12px;
	color: #f00;
}
#ptyoki {
	position: absolute;
	top: 670px;
	left: 155px;
	font-size: 12px;
	color: #f00;
}

#ppa- {
	position: absolute;
	top: 670px;
	left: 245px;
	font-size: 12px;
	color: #f00;
}

/*コイン投入口*/
#insertmedal {
	position: absolute;
	top: 610px;
	left: 468px;
	width: 10px;
	height: 50px;
	margin: 5px;
	border-radius: 2px;
	background-color: #000000;
}

#insertmedal:hover {
	width: 20px;
	height: 20px;
	padding: 10px;
	border-radius: 20px;
	background-color: #999;
	color: #999;
	cursor: pointer;
	border: solid 1px #222;
}
/*ジャンケンボタン*/
#gu-botan {
	position: absolute;
	top: 616px;
	left: 62px;
	width: 35px;
	height: 35px;
	margin: 5px;
	border-radius: 20px;
	background-color: #FF0000;
	cursor: pointer;
}

#tyokibotan {
	position: absolute;
	top: 616px;
	left: 148px;
	width: 35px;
	height: 35px;
	margin: 5px;
	border-radius: 20px;
	background-color: #FFFF00;
	cursor: pointer;
}

#pa-botan {
	position: absolute;
	top: 616px;
	left: 232px;
	width: 36px;
	height: 36px;
	margin: 5px;
	border-radius: 20px;
	background-color: #00008B;
	cursor: pointer;
}


/*画像の位置*/
#roulette1 {
	position: absolute;
	top: -105px;
	left: -80px;
}

#roulette2 {
	position: absolute;
	top: 560px;
	left: 35px;
}

#anemy1 {
	position: absolute;
	top: 160px;
	left: 190px;
}
#anemy1 img:nth-child(n+2) { 
	display:none;
}

/*勝敗表示部分*/
#result {
	position: absolute;
	top: 470px;
	left: 150px;
	width: 190px;
	height: 20px;
	border: solid 3px #0000ff;
	background: #fff;
	text-align: center;
	color: #0000ff;
	font-size: 18px;
	font-weight: bold;
	padding: 30px;
}

/*メダル表示部分*/
#medal1 {
	font-size: 12px;
}

#medal2 {
	display: inline-block;
	padding: 6px;
	background: #222;
	font-size: 28px;
	color: #f00;
}
#medal3 {
	font-size: 12px;
	text-align: right;
}
#medal4 {
	position: absolute;
	top: 600px;
	left: 375px;
}

/*bet表示部分*/
#betlump1 {
	position: absolute;
	top: 573px;
	left: 302px;
	background-color: #FF0000;
	width: 57px;
	height: 28px;
	border-radius: 10px;
}
#betlump2 {
	position: absolute;
	top: 620px;
	left: 302px;
	background-color: #FF0000;
	width: 57px;
	height: 28px;
	border-radius: 10px;
}
#betlump3 {
	position: absolute;
	top: 667px;
	left: 302px;
	background-color: #FF0000;
	width: 57px;
	height: 28px;
	border-radius: 10px;
}
#bet1 {
	position: absolute;
	top: 578px;
	left: 313px;
}
#bet2 {
	position: absolute;
	top: 625px;
	left: 313px;
}
#bet3 {
	position: absolute;
	top: 672px;
	left: 313px;
}

/*ルーレットの数字*/
#runum1 {
	position: absolute;
	top: 70px;
	left: 265px;
	color: #FFFFFF;
	font-size: 32px;
}
#runum2 {
	position: absolute;
	top: 90px;
	left: 350px;
	color: #FF0000;
	font-size: 32px;
	transform: rotate( 30deg );
}
#runum3 {
	color: #FFFFFF;
	position: absolute;
	top: 150px;
	left: 410px;
	font-size: 32px;
	transform: rotate( 60deg );
}
#runum4 {
	color: #FF0000;
	position: absolute;
	top: 235px;
	left: 425px;
	font-size: 32px;
	transform: rotate( 90deg );
}
#runum5 {
	color: #FFFFFF;
	position: absolute;
	top: 315px;
	left: 400px;
	font-size: 32px;
	transform: rotate( 120deg );
}
#runum6 {
	color: #FF0000;
	position: absolute;
	top: 370px;
	left: 350px;
	font-size: 32px;
	transform: rotate( 150deg );
}
#runum7 {
	color: #FFFFFF;
	position: absolute;
	top: 390px;
	left: 265px;
	font-size: 32px;
	transform: rotate( 180deg );
}
#runum8 {
	color: #FF0000;
	position: absolute;
	top: 375px;
	left: 185px;
	font-size: 32px;
	transform: rotate( 210deg );
}
#runum9 {
	color: #FFFFFF;
	position: absolute;
	top: 315px;
	left: 125px;
	font-size: 32px;
	transform: rotate( 240deg );
}
#runum10 {
	color: #FF0000;
	position: absolute;
	top: 235px;
	left: 100px;
	font-size: 32px;
	transform: rotate( 270deg );
}
#runum11 {
	color: #FFFFFF;
	position: absolute;
	top: 150px;
	left: 125px;
	font-size: 32px;
	transform: rotate( 300deg );
}
#runum12 {
	color: #FF0000;
	position: absolute;
	top: 95px;
	left: 185px;
	font-size: 32px;
	transform: rotate( 330deg );
}

#rouletteInner {
    position:absolute;
    top:236px;
    left:262px;
    width:232px;
    height:232px;
    margin:0 auto;
    margin-left:-100px;
    margin-top:-100px;
    border-radius:150px;
    border:solid 1px #222;
    background:#ffcc00;
}

ul#feverList li.activeMedal {
    border-top-color:#f90;
    color:#fff;
}

#feverList {
    position:relative;
    width:400px;
    height:400px;
    margin:0 auto;
    border-radius:200px;
}

#feverList li{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 200.51px 54.21px 0 54.21px;
    border-color: #ff0000 transparent transparent transparent;
    color:#fff;
    font-size:24px;
}

#feverList li:nth-child(even){
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 200.51px 54.21px 0 54.21px;    
    border-color: #fff transparent transparent transparent;
}

#feverList li:nth-child(even):before{
    color:#ff0000;
}

#feverList li:nth-child(1){
    position:absolute;
    top:5px;
    left:165px;
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    transform:rotate(0deg);
}

#feverList li:nth-child(2){
    position:absolute;
    top:15px;
    left:215px;
    -webkit-transform:rotate(30deg);
    -moz-transform:rotate(30deg); 
    -ms-transform:rotate(30deg);
    -o-transform:rotate(30deg);
    transform:rotate(30deg);
}



#feverList li:nth-child(3){
    position:absolute;
    top:53px;
    left:250px;
    -webkit-transform:rotate(60deg);
    -moz-transform:rotate(60deg);
    -ms-transform:rotate(60deg);
    -o-transform:rotate(60deg);
    transform:rotate(60deg);
}

#feverList li:nth-child(4){
    position:absolute;
    top:105px;
    left:262px;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    transform:rotate(90deg);
}


#feverList li:nth-child(5){
    position:absolute;
    top:158px;
    left:252px;
    -webkit-transform:rotate(120deg);
    -moz-transform:rotate(120deg);
    -ms-transform:rotate(120deg);
    -o-transform:rotate(120deg);
    transform:rotate(120deg);
}


#feverList li:nth-child(6){
    position:absolute;
    top:190px;
    left:218px;
    -webkit-transform:rotate(150deg);
    -moz-transform:rotate(150deg);
    -ms-transform:rotate(150deg);
    -o-transform:rotate(150deg);
    transform:rotate(150deg);
}

#feverList li:nth-child(7){
    position:absolute;
    top:205px;
    left:166px;
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    transform:rotate(180deg);
}

#feverList li:nth-child(8){
    position:absolute;
    top:193px;
    left:113px;
    -webkit-transform:rotate(210deg);
    -moz-transform:rotate(210deg);
    -ms-transform:rotate(210deg);
    -o-transform:rotate(210deg);
    transform:rotate(210deg);
}

#feverList li:nth-child(9){
    position:absolute;
    top:155px;
    left:77px;
   -webkit-transform:rotate(240deg);
   -moz-transform:rotate(240deg);
   -ms-transform:rotate(240deg);
   -o-transform:rotate(240deg);
   -webkit-transform:rotate(240deg);
}


#feverList li:nth-child(10){
    position:absolute;
    top:105px;
    left:65px;
    -webkit-transform:rotate(270deg);
    -moz-transform:rotate(270deg);
    -ms-transform:rotate(270deg);
    -o-transform:rotate(270deg);
    transform:rotate(270deg);
}


#feverList li:nth-child(11){
    position:absolute;
    top:60px;
    left:78px;
    -webkit-transform:rotate(300deg);
    -moz-transform:rotate(300deg);
    -ms-transform:rotate(300deg);
    -o-transform:rotate(300deg);
    transform:rotate(300deg);
}

#feverList li:nth-child(12){
    position:absolute;
    top:23px;
    left:114px;
    -webkit-transform:rotate(330deg);
    -moz-transform:rotate(330deg);
    -ms-transform:rotate(330deg);
    -o-transform:rotate(330deg);
    transform:rotate(330deg);
}

