#zenntai {
	position: relative;
	width: 560px;
	height: 720px;
	border: solid 5px #9a9a9a;
	margin: 0 auto;
	background: #ffff67;
}

h1 {
	text-align: center;
	font-size: 22px;
	color: #d00f08;
}

#pgu- {
	position: absolute;
	top: 670px;
	left: 75px;
	font-size: 12px;
	color: #f00;
}
#ptyoki {
	position: absolute;
	top: 670px;
	left: 155px;
	font-size: 12px;
	color: #f00;
}

#ppa- {
	position: absolute;
	top: 670px;
	left: 245px;
	font-size: 12px;
	color: #f00;
}

/*コイン投入口*/
#insertmedal {
	position: absolute;
	top: 610px;
	left: 468px;
	width: 10px;
	height: 50px;
	margin: 5px;
	border-radius: 2px;
	background-color: #000000;
}

#insertmedal:hover {
	width: 20px;
	height: 20px;
	padding: 10px;
	border-radius: 20px;
	background-color: #999;
	color: #999;
	cursor: pointer;
	border: solid 1px #222;
}
/*ジャンケンボタン*/
#gu-botan {
	position: absolute;
	top: 616px;
	left: 62px;
	width: 35px;
	height: 35px;
	margin: 5px;
	border-radius: 20px;
	background-color: #FF0000;
	cursor: pointer;
}

#tyokibotan {
	position: absolute;
	top: 616px;
	left: 148px;
	width: 35px;
	height: 35px;
	margin: 5px;
	border-radius: 20px;
	background-color: #FFFF00;
	cursor: pointer;
}

#pa-botan {
	position: absolute;
	top: 616px;
	left: 232px;
	width: 36px;
	height: 36px;
	margin: 5px;
	border-radius: 20px;
	background-color: #00008B;
	cursor: pointer;
}


/*画像の位置*/
#roulette1 {
	position: absolute;
	top: -105px;
	left: -90px;
}

#roulette2 {
	position: absolute;
	top: 560px;
	left: 35px;
}

#anemy1 {
	position: absolute;
	top: 160px;
	left: 190px;
}
#anemy1 img:nth-child(n+2) { 
	display:none;
}

#kaiten {
	position:absolute;
	top:22px;
	left:203px;
}
#kaiten1 {
	position:absolute;
	top:45px;
	left:280px;
	transform: rotate(30deg);
}
#kaiten2 {
	position:absolute;
	top:100px;
	left:340px;
	transform: rotate(60deg);
}
#kaiten3 {
	position:absolute;
	top:182px;
	left:360px;
	transform: rotate(90deg);
}
#kaiten4 {
	position:absolute;
	top:260px;
	left:340px;
	transform: rotate(120deg);
}
#kaiten5 {
	position:absolute;
	top:318px;
	left:280px;
	transform: rotate(150deg);
}
#kaiten6 {
	position:absolute;
	top:338px;
	left:203px;
	transform: rotate(180deg);
}
#kaiten7 {
	position:absolute;
	top:318px;
	left:122px;
	transform: rotate(210deg);
}
#kaiten8 {
	position:absolute;
	top:260px;
	left:67px;
	transform: rotate(240deg);
}
#kaiten9 {
	position:absolute;
	top:181px;
	left:43px;
	transform: rotate(270deg);
}
#kaiten10 {
	position:absolute;
	top:101px;
	left:64px;
	transform: rotate(300deg);
}
#kaiten11 {
	position:absolute;
	top:45px;
	left:124px;
	transform: rotate(330deg);
}
/*勝敗表示部分*/
#result {
	position: absolute;
	top: 460px;
	left: 150px;
	width: 190px;
	height: 20px;
	border: solid 3px #0000ff;
	background: #fff;
	text-align: center;
	color: #0000ff;
	font-size: 18px;
	font-weight: bold;
	padding: 30px;
}

/*メダル表示部分*/
#medal1 {
	font-size: 12px;
}

#medal2 {
	display: inline-block;
	padding: 6px;
	background: #222;
	font-size: 28px;
	color: #f00;
}
#medal3 {
	font-size: 12px;
	text-align: right;
}
#medal4 {
	position: absolute;
	top: 600px;
	left: 375px;
}

/*bet表示部分*/
#betlump1 {
	position: absolute;
	top: 573px;
	left: 302px;
	background-color: #FF0000;
	width: 57px;
	height: 28px;
	border-radius: 10px;
}
#betlump2 {
	position: absolute;
	top: 620px;
	left: 302px;
	background-color: #FF0000;
	width: 57px;
	height: 28px;
	border-radius: 10px;
}
#betlump3 {
	position: absolute;
	top: 667px;
	left: 302px;
	background-color: #FF0000;
	width: 57px;
	height: 28px;
	border-radius: 10px;
}
#bet1 {
	position: absolute;
	top: 578px;
	left: 313px;
}
#bet2 {
	position: absolute;
	top: 625px;
	left: 313px;
}
#bet3 {
	position: absolute;
	top: 672px;
	left: 313px;
}

/*ルーレットの数字*/
#runum1 {
	position: absolute;
	top: 70px;
	left: 265px;
	color: #FFFFFF;
	font-size: 32px;
}
#runum2 {
	position: absolute;
	top: 90px;
	left: 350px;
	color: #FF0000;
	font-size: 32px;
	transform: rotate( 30deg );
}
#runum3 {
	color: #FFFFFF;
	position: absolute;
	top: 150px;
	left: 410px;
	font-size: 32px;
	transform: rotate( 60deg );
}
#runum4 {
	color: #FF0000;
	position: absolute;
	top: 235px;
	left: 425px;
	font-size: 32px;
	transform: rotate( 90deg );
}
#runum5 {
	color: #FFFFFF;
	position: absolute;
	top: 315px;
	left: 400px;
	font-size: 32px;
	transform: rotate( 120deg );
}
#runum6 {
	color: #FF0000;
	position: absolute;
	top: 370px;
	left: 350px;
	font-size: 32px;
	transform: rotate( 150deg );
}
#runum7 {
	color: #FFFFFF;
	position: absolute;
	top: 390px;
	left: 265px;
	font-size: 32px;
	transform: rotate( 180deg );
}
#runum8 {
	color: #FF0000;
	position: absolute;
	top: 375px;
	left: 185px;
	font-size: 32px;
	transform: rotate( 210deg );
}
#runum9 {
	color: #FFFFFF;
	position: absolute;
	top: 315px;
	left: 125px;
	font-size: 32px;
	transform: rotate( 240deg );
}
#runum10 {
	color: #FF0000;
	position: absolute;
	top: 235px;
	left: 100px;
	font-size: 32px;
	transform: rotate( 270deg );
}
#runum11 {
	color: #FFFFFF;
	position: absolute;
	top: 150px;
	left: 125px;
	font-size: 32px;
	transform: rotate( 300deg );
}
#runum12 {
	color: #FF0000;
	position: absolute;
	top: 95px;
	left: 185px;
	font-size: 32px;
	transform: rotate( 330deg );
}